<div class="toolbar-container">
  <div class="toolbar">
    <div class="brand">
      <img class="logo" src="LOGO.png" alt="ParkUp" />
      <h3 class="start">ARK <span class="blue">UP</span></h3>
    </div>

    <nav class="menu">
      <a href="#home">Home</a>
      <a href="#aboutUs">About Us</a>
      <a href="#ourProduct">Our Product</a>
      <a href="#faq">F&A</a>
      <a href="#contactUs" class="end">Contact Us</a>
    </nav>
    <fa-icon class="mini-menu" size="2x" [icon]="faBars" (click)="openSideMenu()"></fa-icon>
  </div>
</div>

<div class="side-menu" [class.open]="sideMenuOpen" (click)="closeSideMenu()">
  <div class="side-menu-content" (click)="$event.stopPropagation()">
    <a href="#home" (click)="closeSideMenu()">Home</a>
    <a href="#aboutUs" (click)="closeSideMenu()">About Us</a>
    <a href="#ourProduct" (click)="closeSideMenu()">Our Product</a>
    <a href="#faq" (click)="closeSideMenu()">F&A</a>
    <a href="#contactUs" (click)="closeSideMenu()">Contact Us</a>
  </div>
</div>



<div class="hero">
  <h1>Skip the lines and pay for your parking straight from your phone.</h1>
  <div class="secondary-text">
    <h2>Enjoy fast, secure payments your favorite payment method.</h2>
    <h2>Save time, avoid the hassle, and get back to what matters.</h2>
  </div>
  <div class="call-to-action">
    <div class="button">Download for iOS</div>
    <div class="button">Download for Android</div>
    <a href="https://parkup-webapp.netlify.app/" target="_blank" class="no-deco">
      <div class="button2">Go to Web App</div>
    </a>
  </div>
</div>
