
<footer class="footer">
    <div class="footer-content">

      <div class="contact-section">
        <img src="src\assets\Logo-ParkUp.jpg" alt="ParkUpLogo">
      </div>

      <div class="footer-links">
        <div class="link-column">
          <p href="#" class="link-title">Learn More</p>
          <a href="#" class="footer-link">About Us</a>
          <a href="#" class="footer-link">Press Releases</a>
          <a href="#" class="footer-link">Instrument</a>
          <a href="#" class="footer-link">Privacy Policy</a>
        </div>
      </div>
      
      <div class="contact-section">
        <h3 class="contact-title">Contact Us</h3>
        <p class="contact-info">Cell phone: 422-466-7890</p>
        <p class="contact-info">E-mail: parkup&#64;outlook.com</p>
      </div>

      <div class="contact-section">
        <div class="social-links">
          <h4 class="social-title">Social</h4>
          <!--íconos de redes sociales -->
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p class="copyright">© 2025 ParkUp | All Rights Reserved</p>
    </div>
  </footer>