
<footer class="footer">
    <div class="footer-content">

      <div class="contact-section">
        <img src="https://github.com/SolucionesIoT-FindAndPark-UPC/landing-page/blob/feature/footer/src/assets/Logo-ParkUp.jpg?raw=true" class="ParkUpLogo" alt="ParkUpLogo">
      </div>

      <div class="footer-links">
        <div class="link-column">
          <p href="#" class="link-title">Learn More</p>
          <a href="#" class="footer-link">About Us</a>
          <a href="#" class="footer-link">Press Releases</a>
          <a href="#" class="footer-link">Instrument</a>
          <a href="#" class="footer-link">Privacy Policy</a>
        </div>
      </div>
      
      <div class="contact-section">
        <h3 class="contact-title">Contact Us</h3>
        <p class="contact-info">Cell phone: 422-466-7890</p>
        <p class="contact-info">E-mail: parkup&#64;outlook.com</p>
      </div>

      <div class="social-section">
        <div class="social-links">
          <h4 class="social-title">Social</h4>
          <img class="social-logo" src="https://img.freepik.com/vector-gratis/nuevo-diseno-icono-x-logotipo-twitter-2023_1017-45418.jpg?semt=ais_hybrid&w=740" alt="X logo">
          <img class="social-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/960px-Facebook_logo_%28square%29.png" alt="Facebook Logo">
          <img class="social-logo" src="https://cdn.pixabay.com/photo/2021/06/15/12/14/instagram-6338393_1280.png" alt="Instagram Logo">
          <img class="social-logo" src="https://img.freepik.com/vector-premium/logo-linkedin_578229-227.jpg" alt="Linkedin Logo">
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p class="copyright">© 2025 ParkUp | All Rights Reserved</p>
    </div>
  </footer>