<section class="product-section">
  <div class="product-content">
    <div class="phone-mockup">
      <img src="https://i.postimg.cc/zDcG1WZk/phone.png" alt="Phone Mockup" />
    </div>
    <div class="product-text">
      <h2>Find, Scan, and Pay for your parking in seconds.</h2>
      <p>
        With our mobile platform, you can find, scan Qr code, and pay for your parking spot with ease.
      </p>
      <p>
        No more waiting in lines, handling tickets or searching for change. Just open your app or
        scan the QR code in authorized centrals to pay as you go.
      </p>
    </div>
  </div>
</section>
