<section class="about-us-section">
  <div class="about-us-container">
    <div class="about-us-text">
      <h3>About US</h3>
      <p style="text-align: justify ">
        At ParkUp, we make parking fast, smart, and paperless.
        Our platform connects drivers to real-time available spots, saving time and reducing frustration.
        With mobile payments via Yape, Plin, or card, and entry/exit through QR codes, parking has never been easier.
        Whether commuting, shopping, or heading out, ParkUp lets you park smarter and move faster.
      </p>
    </div>
    <div class="about-us-image">
      <img src="https://i.postimg.cc/RZWxZGLP/aboutus.png" alt="About us Image" />
    </div>
  </div>
</section>
