.about-us-section {
  background-color: #f8f8f8;
  padding: 4rem 2rem;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.about-us-text {
  order: 1;
  text-align: left;
}

.about-us-text h3 {
  font-size: 48px;
  font-weight: bold;
  color: #0A0A0A;
  margin-bottom: 60px;
  text-align: left;
}

.about-us-text p {
  color: #4b5563;
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
}

.about-us-image {
  order: 2;
  display: flex;
  justify-content: center;
}

.about-us-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


@media (min-width: 768px) {
  .about-us-container {
    flex-direction: row;
    align-items: center;
    padding: 0 2rem;
  }

  .about-us-text {
    flex: 1;
    order: 1;
    padding-right: 2rem;
  }

  .about-us-text h3 {
    text-align: left;
  }

  .about-us-image {
    flex: 1;
    order: 2;
  }

  .about-us-image img {
    width: 100%;
    max-width: none;
  }
}